@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #1a1a1a;
	--foreground: #e0e0e0;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #121212;
		--foreground: #f0f0f0;
	}
}

body {
	color: var(--foreground);
	background: var(--background);
	font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}
